<h3>Updating Task</h3>
    <form class = "form group" action="" method = "post">{% csrf_token %}
        <div class="row">
            <div class=" col-lg-6">
                <label for="title" >Title: </label><br>
                <input type="text" name="title" class="form-control"><br>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-6">
                <label for="details">Details: </label><br>
                <input type="text" name = "details" class=" form-control"><br>
            </div>
        </div>
        <input type="submit" value="Add Task" class="btn btn-primary">
        
    </form>

    {% for todo in todos %}
        <article>
            <div class="container">
                <div class="box">
                    <div class="content">
                        <h2><a href="">{{ todo.note_title }} {{ todo.id }}</a></h2>
                        <p>{{ todo.details|linebreaksbr }}</p><br>
                        <button><a href="{% url 'update' id=todo.id %}">Update</a></button>
                        <!--<time>published: {{ todo.date }}</time>-->
                    </div>
                </div>
            </div>
        </article>
    {% endfor %}

</body>
</html>
