<h3>Updating Task</h3>
    <form class = "form group" action="" method = "post">{% csrf_token %}
        <div class="row">
            <div class=" col-lg-6">
                <label for="title" >Title: </label><br>
                <input type="text" name="title" value={{title}} class="form-control"><br>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-6">
                <label for="details">Details: </label><br>
                <input type="text" name = "details" value={{details}} class=" form-control"><br>
            </div>
        </div>
        <input type="submit" value="Add Task" class="btn btn-primary">
        
    </form>

</body>
</html>
